<!-- new-quote.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Quote</title>
 <style>
  .Allq {
    background-color: green;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  
  .Allq p {
    font-size: 30px;
    color: white;
    font-weight: 700;
    display: flex;
  }
  
  .Allq a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
    display: flex;
  }
  


  .green{
    background-color: rgb(8, 216, 8);
    padding: 20px;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.green label,
.green input,
.green textarea,
.green button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.green input{
    height: 30px;
}

.green textarea {
    resize: vertical; 
    height: 80px;
}

.green button {
    background-color: rgb(28, 61, 28);
    color: white;
    border: none;
    padding: 12px 12px; 
    border-radius: 3px;
    cursor: pointer;
    width: auto;
}
.ranga{
width: 500px;
height: 150px;
background-color: aqua;
margin-top: 20px;
/* justify-content: center;
align-items: center; */
overflow: scroll;
}
.ranga h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
.ranga p {
    font-size: 20px;
    word-wrap: break-word;
  } 

.quote-box {
  margin-left: 35%;
  width: 500px; 
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  
}


.quote-box h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}


.quote-box p {
  font-size: 16px;
  margin: 0 0 20px 0;
}


.quote-box a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.quote-box a:hover {
  text-decoration: underline;
}


  
 </style>
</head>
<body>
  <div class="Allq">
    <p>Great Quotes</p>
    <a href="/">All Quotes</a>
    <a href="/new-quote">New Quotes</a>
  </div>
  <h1>All Quotes</h1>
 
  <div class="green">
    <form action="/add-quote" method="POST">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" placeholder="Author's name" required><br>
      <label for="quote">Quote:</label>
      <textarea id="quote" name="quote" placeholder="Author's Quote" required></textarea><br>
      <button type="submit">Add Quote</button>
    </form>
  </div>
</body>
</html>
